
.fastGrid {
    border: 1px solid #ccc;
    border-top: 0px;
    overflow: hidden;
}

.fastGrid > .headWrapper{
}

.fastGrid > .headWrapper > .tableHead{

}

.fastGrid > .bodyWrapper{
    overflow: auto;
}

.fastGrid > .bodyWrapper > .tableBody{
}



.fastGrid th,.fastGrid td{
    border: 1px solid #ccc;
    line-height: 2em;
    text-align: center;
}

.fastGrid th.first,.fastGrid td.first{
    border-left: 0px;
}

.fastGrid th.last,.fastGrid td.last{
}

.fastGrid th{
    font-weight: bold;
}

.fastGrid td{
}

.fastGrid td.topLine{
    border-top: 0px;
}