extends layout

block content
  link(rel='stylesheet', href='/styles/index.css')
  h1= title
  ul
    li: a(href='/examples/textProposal') textProposal
    li: a(href='/examples/fastGrid-options') fastGrid-options
    li: a(href='/examples/fastGrid-ajax-nowrap') fastGrid-ajax-nowrap
    li: a(href='/examples/fastGrid-native-multiSelect') fastGrid-native-multiSelect
    li: a(href='/examples/paginator') paginator