
.paginator{
    margin: 5px 0;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.paginator ul{
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.paginator ul li{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-left: 5px;
    vertical-align: middle;
}

.paginator ul li div.pageNo{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    line-height: 20px;
    *line-height: 14px;
    vertical-align: middle;
    *position: relative;
    *top: -3px;
}

.paginator ul li a{
    display: block;
    border: 1px solid #ccc;
    padding: 0 2px;
    min-width: 16px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}

.paginator ul li a.head{
    background: url(images/arrow_state_red_head.png) no-repeat center center;
}

.paginator ul li a.prev{
    background: url(images/arrow_state_red_left.png) no-repeat center center;
}

.paginator ul li a.next{
    background: url(images/arrow_state_red_right.png) no-repeat center center;
}

.paginator ul li a.tail{
    background: url(images/arrow_state_red_tail.png) no-repeat center center;
}

.paginator ul li a.current{
    border: 0px;
    font-weight: bold;
}

.paginator ul li a.skip{
    border: 0px;
    color: #333;
}

.paginator .recordText {
    vertical-align: middle;
}

.paginator .pageSize{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-left: 5px;
    vertical-align: middle;
}

.paginator select{
    border: 1px solid #ccc;
    padding: 2px;
}

.paginator input{
    border: 1px solid #ccc;
    padding: 2px;
    height: 16px;
}