
.paginator{
    margin: 5px 0;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.paginator ul{
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.paginator ul li{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-left: 5px;
    line-height: 16px;
}

.paginator ul li div.pageNo{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: baseline;
}

.paginator ul li input{
    width:20px;
    margin:0 3px;
    text-align:center;
}


.paginator ul li a{
    display: block;
    border: 1px solid #ccc;
    padding: 0 2px;
    _width: 12px;
    min-width: 12px;
    height: 16px;
    text-align: center;
    line-height: 16px;
}

.paginator ul li a.head{
    background: url(images/arrow_state_red_head.png) no-repeat center center;
}

.paginator ul li a.grayhead{
    cursor: default;
    text-decoration: none;
    background: url(images/arrow_state_gray_head.png) no-repeat center center;
}

.paginator ul li a.prev{
    background: url(images/arrow_state_red_left.png) no-repeat center center;
}

.paginator ul li a.grayprev{
    cursor: default;
    text-decoration: none;
    background: url(images/arrow_state_gray_left.png) no-repeat center center;
}

.paginator ul li a.next{
    background: url(images/arrow_state_red_right.png) no-repeat center center;
}

.paginator ul li a.graynext{
    cursor: default;
    text-decoration: none;
    background: url(images/arrow_state_gray_right.png) no-repeat center center;
}

.paginator ul li a.tail{
    background: url(images/arrow_state_red_tail.png) no-repeat center center;
}

.paginator ul li a.graytail{
    cursor: default;
    text-decoration: none;
    background: url(images/arrow_state_gray_tail.png) no-repeat center center;
}

.paginator ul li a.current{
    border: 0px;
    font-weight: bold;
}

.paginator ul li a.skip{
    border: 0px;
    color: #333;
}

.paginator .totalCountText {
}

.paginator .pageSize{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-left: 5px;
}

.paginator select{
    border: 1px solid #ccc;
    padding: 1px;
}

.paginator input{
    border: 1px solid #ccc;
    padding: 2px;
    height: 12px;
}