
.textProposal{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    position: relative;
    z-index: 100;
}

.textProposal .showHolder{
    color: #ccc;
}

.textProposal .list{
    position: absolute;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    background: #fff;
    z-index: 100;
    overflow:hidden;
    overflow-y:auto;
    margin: 0;
    list-style: none;
}

.textProposal .list li{
    float: left;
    width: 100%;
}

.textProposal .list li a{
    display: block;
    padding: 0 5px;
    line-height: 1.85em;
    text-decoration: none;
}

.textProposal .list li a.selected{
    color: #fff;
    background: #b00;
}