extends ../layout

block append link
  link(rel='stylesheet', href='/scripts/widgets/fastGrid/fastGrid.css')
  style

block content



block append script
  script(src='/scripts/widgets/fastGrid/fastGrid.js')
  script(src='/scripts/json2.js')

  script
    $(document).ready(function(){


    });