extends ../layout

block append link
  link(rel='stylesheet', href='/scripts/widgets/textProposal/textProposal.css')
  style
    #wrapper{
      width: 300px;
      margin:0px auto;
      padding: 80px 0px;

    }
    input, textarea {
        border: 1px solid #ccc;
        height: 1.4em;
        *height: 1.2em;
        padding: 2px;
    }
block content
  div#wrapper.controller-group
    label.label 关键字：
    input#search(style='vertical-align: middle;margin-left:5px;width: 150px;')
    a.button(style='vertical-align: middle;margin-left:5px;') 搜索

block append script
  script(src='/scripts/widgets/textProposal/textProposal.js');
  script
    $(document).ready(function(){
      $('#search').textProposal({
        items:[
          '中船股份(600072)',
          '人福医药(600079)',
          '东方金钰(600086)',
          '禾嘉股份(600093)',
          '同方股份(600100)',
          '美尔雅(600107)',
          '人福医药(600079)',
          '东方金钰(600086)',
          '禾嘉股份(600093)',
          '同方股份(600100)',
          '美尔雅(600107)',
          '中船股份(600072)',
          '人福医药(600079)',
          '东方金钰(600086)',
          '禾嘉股份(600093)',
          '同方股份(600100)',
          '美尔雅(600107)',
          '人福医药(600079)',
          '东方金钰(600086)',
          '禾嘉股份(600093)',
          '同方股份(600100)',
          '美尔雅(600107)'
        ],
        pageCount: 10,
        placeHolder: '例如: 6000093'
      });
    });