
.fastGrid {
    border: 1px solid #ccc;
    position: relative;
    overflow: hidden;
}

.fastGrid table {
    border-collapse: collapse;
    border-spacing: 0
}

.fastGrid .mask{
    position: absolute;
    left: 0px;
    top: 0px;
    background: #ddd;
    display: none;
}

.fastGrid .loadingWrapper{
    position: absolute;
    text-align: center;
    display: none;
}

.fastGrid .loadingWrapper .loading{
    margin: 5px auto;
    width: 32px;
    height: 32px;
    background: url(images/loading.gif);
}

.fastGrid .headWrapper{
    width: 9999px;
    background: url(images/header_bg.gif) repeat-x;
    position: relative;
    overflow: hidden;
    height: 27px;
}

.fastGrid .headWrapper .tableHead{
    position: relative;
}

.fastGrid .optWrapper{
    background: #efefef;
    display: none;
    position: relative;
    -webkit-box-shadow: inset 0px 0px 2px 1px #d9d9d9;
    -moz-box-shadow: inset 0px 0px 2px 1px #d9d9d9;
    -o-box-shadow: inset 0px 0px 2px 1px #d9d9d9;
    -ms-box-shadow: inset 0px 0px 2px 1px #d9d9d9;
    box-shadow: inset 0px 0px 2px 1px #d9d9d9;
}

.fastGrid .bodyWrapper{
    width: 9999px;
    overflow:auto;
}

.fastGrid .bodyWrapper .tableBody{

}

.fastGrid .headWrapper .resizePosition{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 2px;
    height: 27px;
    background: #999;
    cursor: col-resize;
    display: none;
}

/*tableHead*/

.fastGrid .tableHead th{
    border-right: 1px solid #ddd;
    line-height: 27px;
    font-weight: bold;
    position: relative;
}

.fastGrid .tableHead th .title{
    color: #000;
    vertical-align: middle;
}

.fastGrid .tableHead th .sortStatus{
    margin-left: 2px;
    width: 7px;
    height: 4px;
    overflow: hidden;
    vertical-align: middle;
    display: none;
}

.fastGrid .tableHead th .asc{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    background: url(images/up.png);
}

.fastGrid .tableHead th .desc{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    background: url(images/dn.png);
}

/*tableBody。*/
.fastGrid .tableBody tr{

}

.fastGrid .tableBody tr.even{
    background: #ededed;
}

.fastGrid .tableBody td{
    border: 1px solid #ddd;
    line-height: 24px;
}

.fastGrid .tableBody td.colSelected{
    background: #efefef;
}

.fastGrid .tableBody td.colSelectedEven{
    background: #e9e9e9;
}

.fastGrid .tableBody tr.hover td{
    background: #FFEDAC;
}

.fastGrid .tableBody tr:hover td{
    background: #FFEDAC;
}

.fastGrid .tableHead th.first,.fastGrid .tableBody td.first{
    border-left: 0px;
}

.fastGrid .tableHead th.last,.fastGrid .tableBody td.last{

}

.fastGrid .tableHead th .resize{
    position: absolute;;
    right: 0px;
    top:0px;
    width: 4px;
    height: 27px;
    cursor: col-resize;
}

/*如果宽度不够了就显示省略号*/
.fastGrid .tableHead th .content{
    margin: 0 5px;
    text-align: left;
    white-space: nowrap;
}
.fastGrid .tableBody td .content{
    margin: 0 5px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fastGrid .noRecord{
    text-align: center;
    position: absolute;
}

.fastGrid .optDnButton{
    position: absolute;
    display: block;
    width: 50px;
    height: 20px;
    border: 1px solid #ccc;
    border-top: 0px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    box-shadow:1px 1px 3px #ccc;
    background: url(images/arrow_down.png) no-repeat center center;
    background-color: #fff;
}

.fastGrid .optUpButton{
    position: absolute;
    bottom: 0px;
    right: 10px;
    display: block;
    width: 50px;
    height: 20px;
    border: 1px solid #ccc;
    border-bottom: 0px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    box-shadow:1px 1px 3px #ccc;
    background: url(images/arrow_up.png) no-repeat center center;
    background-color: #fff;
}

.fastGrid .optWrapper h1{
    margin: 0 10px;
    padding: 10px 0 5px 0;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
}

.fastGrid .optWrapper label{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 100px;
    line-height: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fastGrid .optWrapper label input{
    padding: 0px;
    margin: 0 5px 0 10px;
    border: 0px;
    width: auto;
    height: auto;
    vertical-align: middle;
}

.fastGrid .optWrapper label span{
    vertical-align: middle;
}

.fastGrid .transparent {
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    /* IE 5-7 */
    filter: alpha(opacity=50);
    /* Netscape */
    -moz-opacity: 0.5;
    /* Safari 1.x */
    -khtml-opacity: 0.5;
    /* Good browsers */
    opacity: 0.5;
}

