
.fastGrid {
    border: 1px solid #ccc;
    border-top: 0px;
    position: relative;
    overflow: hidden;;
}

.fastGrid  .headWrapper{
    background: url(images/header_bg.gif) repeat-x;
    position: relative;
    overflow: hidden;
}

.fastGrid .headWrapper .tableHead{
    position: relative;
}

.fastGrid .bodyWrapper{
    overflow:auto;
}

.fastGrid .bodyWrapper .tableBody{

}

.fastGrid tr{

}

.fastGrid tr.even{
    background: #ededed;
}



.fastGrid th,.fastGrid td{
    text-align: center;
}

.fastGrid th{
    border-left: 1px solid #ddd;
    line-height: 27px;
    font-weight: bold;
    position: relative;
}
.fastGrid td{
    border: 1px solid #ddd;
    line-height: 24px;
}

.fastGrid td.colSelected{
    background: #efefef;
}

.fastGrid td.colSelectedEven{
    background: #e9e9e9;
}

.fastGrid th.first,.fastGrid td.first{
    border-left: 0px;
}

.fastGrid th.last,.fastGrid td.last{

}

.fastGrid td.topRow{
}

.fastGrid td.hover{
    background: #FFEDAC;
}

.fastGrid th .sort{
    width: 7px;
    height: 4px;
    overflow: hidden;
    position: absolute;
    top: 2px;
    display: none;
}

.fastGrid th .up{
    background: url(images/up.png);
    display: block;
}

.fastGrid th .dn{
    background: url(images/dn.png);
    display: block;
}