
.fastGrid {
    border: 1px solid #ccc;
    border-top: 0px;
    overflow: hidden;
}

.fastGrid > .headWrapper{
    background: url(images/header_bg.gif) repeat-x;
    position: relative;
    overflow: hidden;
}

.fastGrid > .headWrapper > .tableHead{
    position: relative;
}

.fastGrid > .bodyWrapper{
    overflow: auto;
}

.fastGrid > .bodyWrapper > .tableBody{
}

.fastGrid tr{

}

.fastGrid tr.even{
    background: #f7f7f7;
}

.fastGrid tr.selected{
    background: #FFEDAC;
}

.fastGrid th,.fastGrid td{

    text-align: center;
}

.fastGrid th{
    border-left: 1px solid #ccc;

    line-height: 27px;
    font-weight: bold;
}
.fastGrid td{
    border: 1px solid #ccc;
    line-height: 24px;
}

.fastGrid th.first,.fastGrid td.first{
    border-left: 0px;
}

.fastGrid th.last,.fastGrid td.last{

}

.fastGrid td.topLine{
}